<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DJANGO APP</title>
    <link rel="icon" href="{% static 'images/images.jfif' %}">
</head>

<div style="width:100%; background-color:silver ; height:5px ; border-radius:100px 100px 100px 100px">

<body background="{% static 'images/images.jfif' %}">

<div style= "width: 100%; background-color:beige ; height:350px ; border-radius:100px 100px 100px">
    <center><h1>WELCOME TO DJANGO APP</h1>
    <center><h2>HOME PAGE</h2>
    <img src="{% static 'images/images.jfif' %}" style="width:40%;height=100px;border-radius:100px 100px 100px" />
<p>Author: Bojana Kesegi</p>
    </div>

<div style="width:100%; background-color:silver;">
    <div style="width:100%; background-color:silver ; height:5px ; border-radius:100px 100px 100px 100px">

    </div>
    </body>
    </html>